.app-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  padding: 40px 20px;
  background: #ffffff;
  border-radius: 16px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);

}

#title {
  font-size: 24px;
  font-weight: 700;
  color: #273c75;
  text-align: center;
}

#subtitle {
  font-size: 14px;
  font-weight: 400;
  color: #718093;
  text-align: center;
  max-width: 400px;
  margin: 0 auto;
  font-style: italic;
}

.navb {
  display: flex;
  gap: 12px;
  margin-bottom: 20px;
  justify-content: center;
}

.navb button {
  padding: 10px 20px;
  border: none;
  border-radius: 8px;
  background-color: #dcdde1;
  color: #2f3640;
  font-weight: 600;
  cursor: pointer;
  transition: background 0.2s ease-in-out;
}

.navb button:hover {
  background-color: #b0b8c0;
}

.navb button.ativo {
  background-color: #0097e6;
  color: #fff;
}

#identity {
  text-align: center;
  color: #b0b8c0;
  font-size: 10px;
}